USE [master]
GO
/****** Object:  Database [SEProjectDB]    Script Date: 2018-11-25 8:20:43 PM ******/
CREATE DATABASE [SEProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SEProjectDB', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SEProjectDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SEProjectDB_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SEProjectDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEProjectDB]
GO
/****** Object:  StoredProcedure [dbo].[AckMessage]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AckMessage]
	-- Add the parameters for the stored procedure here
	@MessageID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE Message SET messageAcknowledge=1 WHERE messageID=@MessageID;
END

GO
/****** Object:  StoredProcedure [dbo].[AssignTempKey]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AssignTempKey]
	-- Add the parameters for the stored procedure here
	@keyID int = -1,
	@RAAssigned nchar(50),
	@studentAssigned nchar(15),
	@roomID nchar(15),
	@dateAssigned date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--
	DECLARE @UnusedID nchar(15);
	
	IF @keyID<>-1
		SET @UnusedID = (SELECT TOP(1) keyID FROM TempKey WHERE isAssigned=0);
		SET @keyID = @UnusedID;

	UPDATE TempKey
	SET dateAssigned = @dateAssigned,
		RAAssignedID = @RAAssigned,
		roomID = @roomID,
		studentAssigned = @studentAssigned
	WHERE keyID=@keyID;
    -- Insert statements for procedure here
	
END

GO
/****** Object:  StoredProcedure [dbo].[CreateMessage]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateMessage]
	-- Add the parameters for the stored procedure here
	@MessageID int = -1,
	@Text nvarchar(MAX),
	@senderID nchar(15),
	@reciveID nchar(15),
	@dateSent date,
	@ack bit = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
	DECLARE @MaxMessage int;
	SET @MaxMessage = (SELECT MAX(messageID) FROM Message);
	INSERT INTO Message VALUES(@MaxMessage+1, @Text, @senderID, @reciveID, @dateSent, @ack);
END

GO
/****** Object:  StoredProcedure [dbo].[FurnitureAdd]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[FurnitureAdd] 
	-- Add the parameters for the stored procedure here
	@roomid nchar(15) = '',
	@FurntitureName nchar(50) = '',
	@SerialNumber int = -1
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @maxSerialNumber INT = 0;
	SET @maxSerialNumber = (SELECT MAX(serialNumber) FROM Furniture);
	IF(@SerialNumber = -1)
		INSERT INTO Furniture VALUES(@roomid, @FurntitureName, @maxSerialNumber+1);
	ELSE
		INSERT INTO Furniture VALUES(@roomid, @FurntitureName, @SerialNumber);
END

GO
/****** Object:  StoredProcedure [dbo].[LogInProc]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[LogInProc] 
	-- Add the parameters for the stored procedure here
	@uname nchar(50) = '', 
	@pword nchar(50) = '',
	@result int OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF EXISTS (SELECT * FROM User_T, Student WHERE User_T.userID = Student.userID AND User_T.username =@uname COLLATE SQL_Latin1_General_CP1_CS_AS AND User_T.password = @pword COLLATE SQL_Latin1_General_CP1_CS_AS AND
	Student.studentID IN (SELECT ra.studentID FROM Student, RA WHERE Student.studentID = RA.studentID))
		SET @result = 3;
	ELSE IF EXISTS (SELECT * FROM User_T, Student WHERE User_T.userID  = Student.userID AND User_T.username COLLATE SQL_Latin1_General_CP1_CS_AS = @uname COLLATE SQL_Latin1_General_CP1_CS_AS AND User_T.password COLLATE SQL_Latin1_General_CP1_CS_AS = @pword COLLATE SQL_Latin1_General_CP1_CS_AS)
		SET @result = 1;
	ELSE IF EXISTS (SELECT * FROM User_T, Admin WHERE User_T.userID = Admin.userID AND User_T.username COLLATE SQL_Latin1_General_CP1_CS_AS = @uname COLLATE SQL_Latin1_General_CP1_CS_AS AND User_T.password COLLATE SQL_Latin1_General_CP1_CS_AS = @pword COLLATE SQL_Latin1_General_CP1_CS_AS)
		SET @result = 2;
	ELSE
		SET @result = -1;
	PRINT @result;
END
GO
/****** Object:  StoredProcedure [dbo].[NewRAApplication]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[NewRAApplication]
	-- Add the parameters for the stored procedure here
	@studentID nchar(15),
	@RAApplicationID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @MaxCount INT = -1;
	SET @MaxCount = (SELECT MAX(RAApplicationID) FROM RAApplication);
	INSERT INTO RAApplication VALUES(@studentID, 0, 0, @MaxCount+1);
    -- Insert statements for procedure here

END

GO
/****** Object:  StoredProcedure [dbo].[SendTempKeyRequest]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SendTempKeyRequest]
	-- Add the parameters for the stored procedure here
	@Name nchar(50),
	@StudentNumber nchar(15),
	@ResidenceBuilding nchar(30),
	@RoomNumber nchar(30),
	@RoomSide nchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--INSERT INTO TempKey


	--Should probably have  a bit in message that says if its a key request. Oh well, Blame Allen probably
	DECLARE @Text nchar(136);
	DECLARE @Now DATE = GetDate();
	DECLARE @Userid nchar(15) = (SELECT TOP(1) UserID From Student WHERE studentID=@StudentNumber);
	SET @Text = 'TEMP KEY REQUEST' + @Name + ' ' + @StudentNumber + ' ' + @RoomNumber + ' ' + @RoomSide + ' ' + ' ' + @ResidenceBuilding;
	EXEC CreateMessage NULL, @Text, @Userid, '000000000000000', @Now;
	--All '0' ReceiverID is generic Admin. Use this for Messages and Temp Key Requests
END

GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[employeeID] [nchar](15) NOT NULL,
	[userID] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Admin_1] PRIMARY KEY CLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Application]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[applicationID] [nchar](15) NOT NULL,
	[studentID] [nchar](15) NOT NULL,
	[firstName] [nchar](30) NULL,
	[lastName] [nchar](30) NULL,
	[otherName] [nchar](50) NULL,
	[schoolYear] [int] NULL,
	[gender] [nchar](50) NULL,
	[email] [nchar](50) NULL,
	[streetAddress] [nchar](50) NULL,
	[city] [nchar](50) NULL,
	[region] [nchar](50) NULL,
	[country] [nchar](50) NULL,
	[postalCode] [nchar](10) NULL,
	[phoneCountryCode] [nchar](5) NULL,
	[phoneAreaCode] [nchar](5) NULL,
	[phoneNumber] [nchar](10) NULL,
	[preferredBuilding] [nchar](50) NULL,
	[smokes] [bit] NULL,
	[liveWithSmoker] [bit] NULL,
	[drinks] [bit] NULL,
	[liveWithDrink] [bit] NULL,
	[marijuana] [bit] NULL,
	[liveWithMarijuana] [bit] NULL,
	[socialLevel] [nchar](50) NULL,
	[bedtime] [nchar](15) NULL,
	[wakeUp] [nchar](15) NULL,
	[volumeLevel] [nchar](15) NULL,
	[overnightVisitors] [bit] NULL,
	[cleanliness] [nchar](30) NULL,
	[studiesinRoom] [bit] NULL,
	[roomateRequest] [nchar](50) NULL,
	[roomateName] [nchar](50) NULL,
	[roomateStudentID] [nchar](15) NULL,
	[mealPlan] [nchar](30) NULL,
 CONSTRAINT [PK_Application_1] PRIMARY KEY CLUSTERED 
(
	[applicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Furniture]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Furniture](
	[roomID] [nchar](15) NULL,
	[furnitureName] [nchar](50) NULL,
	[serialNumber] [int] NOT NULL,
 CONSTRAINT [PK_Furniture] PRIMARY KEY CLUSTERED 
(
	[serialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hobby]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hobby](
	[applicationID] [nchar](15) NOT NULL,
	[hobby] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Hobby_1] PRIMARY KEY CLUSTERED 
(
	[hobby] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Message]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[messageID] [nchar](15) NOT NULL,
	[messageText] [nvarchar](max) NOT NULL,
	[senderUserID] [nchar](15) NOT NULL,
	[recieverUserID] [nchar](15) NULL,
	[dateSent] [date] NULL,
	[messageAcknowledge] [bit] NULL,
 CONSTRAINT [PK_Message_1] PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[musicType]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musicType](
	[applicationID] [nchar](15) NOT NULL,
	[musicType] [nchar](50) NOT NULL,
 CONSTRAINT [PK_musicType_1] PRIMARY KEY CLUSTERED 
(
	[musicType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RA]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RA](
	[RAID] [nchar](15) NOT NULL,
	[studentID] [nchar](15) NOT NULL,
 CONSTRAINT [PK_RA_1] PRIMARY KEY CLUSTERED 
(
	[RAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RAApplication]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAApplication](
	[studentID] [nchar](15) NULL,
	[isAcknowledged] [bit] NULL,
	[isAccepted] [bit] NULL,
	[RAApplicationID] [int] NOT NULL,
 CONSTRAINT [PK_RAApplication] PRIMARY KEY CLUSTERED 
(
	[RAApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[roomID] [nchar](15) NOT NULL,
	[roomSide] [nchar](10) NULL,
	[building] [nchar](30) NULL,
	[phoneNumber] [nchar](20) NULL,
	[mailingAddress] [nchar](30) NULL,
	[buildingLocation] [nchar](30) NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[roomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomHistory]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomHistory](
	[roomID] [nchar](15) NOT NULL,
	[studentID] [nchar](15) NULL,
	[dateEntered] [date] NULL,
	[dateLeft] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sport]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sport](
	[applicationID] [nchar](15) NOT NULL,
	[sport] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Sport_1] PRIMARY KEY CLUSTERED 
(
	[sport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentID] [nchar](15) NOT NULL,
	[roomID] [nchar](15) NULL,
	[roomateID] [nchar](15) NULL,
	[blacklisted] [bit] NULL,
	[userID] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Student_1] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TempKey]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempKey](
	[keyID] [nchar](15) NOT NULL,
	[isAssigned] [bit] NULL,
	[RAAssignedID] [nchar](15) NULL,
	[RAReturnedID] [nchar](15) NULL,
	[studentAssigned] [nchar](15) NULL,
	[roomID] [nchar](15) NULL,
	[dateAssigned] [date] NULL,
	[dateRecieved] [date] NULL,
 CONSTRAINT [PK_TempKey] PRIMARY KEY CLUSTERED 
(
	[keyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_T]    Script Date: 2018-11-25 8:20:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_T](
	[username] [nchar](30) NULL,
	[password] [nchar](30) NULL,
	[firstName] [nchar](30) NULL,
	[lastName] [nchar](30) NULL,
	[otherName] [nchar](50) NULL,
	[dateOfBirth] [date] NULL,
	[userID] [nchar](15) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Admin] ([employeeID], [userID]) VALUES (N'100            ', N'100            ')
INSERT [dbo].[Admin] ([employeeID], [userID]) VALUES (N'200            ', N'200            ')
INSERT [dbo].[Admin] ([employeeID], [userID]) VALUES (N'300            ', N'300            ')
INSERT [dbo].[Furniture] ([roomID], [furnitureName], [serialNumber]) VALUES (N'000000000000000', N'A Double Bed                                      ', 0)
INSERT [dbo].[Furniture] ([roomID], [furnitureName], [serialNumber]) VALUES (N'000000000000000', N'A Table                                           ', 1)
INSERT [dbo].[Furniture] ([roomID], [furnitureName], [serialNumber]) VALUES (N'000000000000000', N'A Chair                                           ', 2)
INSERT [dbo].[Message] ([messageID], [messageText], [senderUserID], [recieverUserID], [dateSent], [messageAcknowledge]) VALUES (N'0000001        ', N'This is the message text', N'123456789101112', N'aaaaaaaaaaaaaa ', CAST(0x25230A00 AS Date), 0)
INSERT [dbo].[Message] ([messageID], [messageText], [senderUserID], [recieverUserID], [dateSent], [messageAcknowledge]) VALUES (N'0000002        ', N'Hey! This is another Message!', N'123456789101112', N'bbbbbbbbbbbbbb ', CAST(0x25230A00 AS Date), 0)
INSERT [dbo].[Message] ([messageID], [messageText], [senderUserID], [recieverUserID], [dateSent], [messageAcknowledge]) VALUES (N'0000003        ', N'Holy Smokes Batman! A message!', N'123456789101112', N'TestuserID     ', CAST(0x25230A00 AS Date), 0)
INSERT [dbo].[RA] ([RAID], [studentID]) VALUES (N'000000000000001', N'rastuID1       ')
INSERT [dbo].[RA] ([RAID], [studentID]) VALUES (N'000000000000002', N'rastuID2       ')
INSERT [dbo].[RA] ([RAID], [studentID]) VALUES (N'150            ', N'150            ')
INSERT [dbo].[RAApplication] ([studentID], [isAcknowledged], [isAccepted], [RAApplicationID]) VALUES (N'studentaid     ', 0, NULL, 0)
INSERT [dbo].[RAApplication] ([studentID], [isAcknowledged], [isAccepted], [RAApplicationID]) VALUES (N'studentbid     ', 1, 1, 1)
INSERT [dbo].[Room] ([roomID], [roomSide], [building], [phoneNumber], [mailingAddress], [buildingLocation]) VALUES (N'000000000000000', N'A         ', N'Mackay                        ', N'(506) 310-3030      ', N'100 Tucker Park Road          ', N'171                           ')
INSERT [dbo].[Room] ([roomID], [roomSide], [building], [phoneNumber], [mailingAddress], [buildingLocation]) VALUES (N'000000000000001', N'B         ', N'Mackay                        ', N'(506) 310-3030      ', N'100 Tucker Park Road          ', N'171                           ')
INSERT [dbo].[Room] ([roomID], [roomSide], [building], [phoneNumber], [mailingAddress], [buildingLocation]) VALUES (N'000000000000003', N'A         ', N'Mackay                        ', N'(506) 310-3030      ', N'100 Tucker Park Road          ', N'173                           ')
INSERT [dbo].[RoomHistory] ([roomID], [studentID], [dateEntered], [dateLeft]) VALUES (N'000000000000000', N'studentaid     ', CAST(0xB63D0B00 AS Date), CAST(0xD63D0B00 AS Date))
INSERT [dbo].[RoomHistory] ([roomID], [studentID], [dateEntered], [dateLeft]) VALUES (N'000000000000001', N'studentbid     ', CAST(0xB63D0B00 AS Date), CAST(0xD63D0B00 AS Date))
INSERT [dbo].[Student] ([studentID], [roomID], [roomateID], [blacklisted], [userID]) VALUES (N'1              ', NULL, NULL, NULL, N'1              ')
INSERT [dbo].[Student] ([studentID], [roomID], [roomateID], [blacklisted], [userID]) VALUES (N'10             ', NULL, NULL, NULL, N'10             ')
INSERT [dbo].[Student] ([studentID], [roomID], [roomateID], [blacklisted], [userID]) VALUES (N'101            ', NULL, NULL, NULL, N'101            ')
GO
INSERT [dbo].[TempKey] ([keyID], [isAssigned], [RAAssignedID], [RAReturnedID], [studentAssigned], [roomID], [dateAssigned], [dateRecieved]) VALUES (N'000000000000001', 1, N'000000000000001', N'               ', N'000000000000010', N'000000000000000', CAST(0x25230A00 AS Date), CAST(0x26230A00 AS Date))
INSERT [dbo].[TempKey] ([keyID], [isAssigned], [RAAssignedID], [RAReturnedID], [studentAssigned], [roomID], [dateAssigned], [dateRecieved]) VALUES (N'000000000000002', 1, N'000000000000001', N'               ', N'000000000000010', N'000000000000000', CAST(0x25230A00 AS Date), CAST(0x26230A00 AS Date))
INSERT [dbo].[TempKey] ([keyID], [isAssigned], [RAAssignedID], [RAReturnedID], [studentAssigned], [roomID], [dateAssigned], [dateRecieved]) VALUES (N'000000000000003', 1, N'000000000000001', N'               ', N'000000000000010', N'000000000000000', CAST(0x25230A00 AS Date), CAST(0x26230A00 AS Date))
INSERT [dbo].[User_T] ([username], [password], [firstName], [lastName], [otherName], [dateOfBirth], [userID]) VALUES (N'TempKeyRequests               ', N'TempKeyRequest                ', NULL, NULL, NULL, NULL, N'000000000000000')
INSERT [dbo].[User_T] ([username], [password], [firstName], [lastName], [otherName], [dateOfBirth], [userID]) VALUES (N'zach                          ', N'Zach1                         ', N'Zach                          ', N'Xanthopoulos                  ', N'Ben                                               ', CAST(0xBA220B00 AS Date), N'1              ')
INSERT [dbo].[User_T] ([username], [password], [firstName], [lastName], [otherName], [dateOfBirth], [userID]) VALUES (N'wendy                         ', N'Wendy10                       ', N'Wendy                         ', N'Niro                          ', N'Edgar                                             ', CAST(0xD4230B00 AS Date), N'10             ')
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User_T] ([userID])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_User]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD  CONSTRAINT [FK_Application_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[Application] CHECK CONSTRAINT [FK_Application_Student]
GO
ALTER TABLE [dbo].[Furniture]  WITH CHECK ADD  CONSTRAINT [FK_Furniture_Room] FOREIGN KEY([roomID])
REFERENCES [dbo].[Room] ([roomID])
GO
ALTER TABLE [dbo].[Furniture] CHECK CONSTRAINT [FK_Furniture_Room]
GO
ALTER TABLE [dbo].[Hobby]  WITH CHECK ADD  CONSTRAINT [FK_Hobby_Application] FOREIGN KEY([applicationID])
REFERENCES [dbo].[Application] ([applicationID])
GO
ALTER TABLE [dbo].[Hobby] CHECK CONSTRAINT [FK_Hobby_Application]
GO
ALTER TABLE [dbo].[musicType]  WITH CHECK ADD  CONSTRAINT [FK_musicType_Application] FOREIGN KEY([applicationID])
REFERENCES [dbo].[Application] ([applicationID])
GO
ALTER TABLE [dbo].[musicType] CHECK CONSTRAINT [FK_musicType_Application]
GO
ALTER TABLE [dbo].[RA]  WITH CHECK ADD  CONSTRAINT [FK_RA_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[RA] CHECK CONSTRAINT [FK_RA_Student]
GO
ALTER TABLE [dbo].[RAApplication]  WITH CHECK ADD  CONSTRAINT [FK_RAApplication_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[RAApplication] CHECK CONSTRAINT [FK_RAApplication_Student]
GO
ALTER TABLE [dbo].[RoomHistory]  WITH CHECK ADD  CONSTRAINT [FK_RoomHistory_Room] FOREIGN KEY([roomID])
REFERENCES [dbo].[Room] ([roomID])
GO
ALTER TABLE [dbo].[RoomHistory] CHECK CONSTRAINT [FK_RoomHistory_Room]
GO
ALTER TABLE [dbo].[RoomHistory]  WITH CHECK ADD  CONSTRAINT [FK_RoomHistory_RoomHistory] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[RoomHistory] CHECK CONSTRAINT [FK_RoomHistory_RoomHistory]
GO
ALTER TABLE [dbo].[Sport]  WITH CHECK ADD  CONSTRAINT [FK_Sport_Application] FOREIGN KEY([applicationID])
REFERENCES [dbo].[Application] ([applicationID])
GO
ALTER TABLE [dbo].[Sport] CHECK CONSTRAINT [FK_Sport_Application]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([userID])
REFERENCES [dbo].[User_T] ([userID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_User]
GO
ALTER TABLE [dbo].[TempKey]  WITH CHECK ADD  CONSTRAINT [FK_TempKey_TempKey] FOREIGN KEY([roomID])
REFERENCES [dbo].[Room] ([roomID])
GO
ALTER TABLE [dbo].[TempKey] CHECK CONSTRAINT [FK_TempKey_TempKey]
GO
USE [master]
GO
